body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

@media ( max-width : 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}

.hero-unit_pad_change {
	padding: 30px;
}

/* Eco system style
 --------------------------------------------*/
.skills_eco {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.skills_eco:after {
	content: "Eco System";
	position: absolute;
	top: -1px;
	left: 50%;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	color: #0088cc;
    -webkit-box-shadow: 4px 4px 2px #999;
      -moz-box-shadow:    4px 4px 2px #999;
        box-shadow:        4px 4px 2px #999;
	-webkit-border-radius: 4px 4px 4px 4px;
	  -moz-border-radius: 4px 4px 4px 4px;
	    border-radius: 4px 4px 4px 4px;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	      -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

/* Side menu style
 -------------------------------------------------- */
#menunav>li a {
	/* Transition for hovers */
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

#menunav>li.active a,#menunav>li a:hover {
	margin-left: -10px;
	padding-left: 20px;
}

/* Special grid styles
-------------------------------------------------- */

.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  min-height: 40px;
  line-height: 40px;
}
.show-grid [class*="span"]:hover {
  background-color: #ddd;
}
.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
  margin-top: 5px;
}
.show-grid [class*="span"] [class*="span"] {
  background-color: #ccc;
}
.show-grid [class*="span"] [class*="span"] [class*="span"] {
  background-color: #999;
}

/* latest sync button style
 -----------------------------------------*/
 .margin-top {
   margin-top: 3px;
 }
 
 /* Shadow style
 --------------------------------------------*/
 .shadow-box {
  -webkit-box-shadow: 1px 1px 3px #aaa;
    -moz-box-shadow:    1px 1px 3px #aaa;
      box-shadow:         1px 1px 3px #aaa;
 }
